/********** Template CSS **********/
:root {
    --primary: #34AD54;
    --secondary: #FF9933;
    --light: #F6FFF2;
    --dark: #263A4F;
}

.btn {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    transition: .5s;
}

body {
    background: #EDEDED;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 0;
    border-radius: 0;
    z-index: 99;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 30px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: .5s;
}
#text-about{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}
#text-about h3, h5 {
    margin-bottom: 20px;
    
}
#location{
    overflow: auto;
    width: 100%;
    height: 100%;
    position: relative;
    
}
#location h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#location img{
    width: 50px;
    margin-bottom: 10px;
    
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: var(--secondary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .carousel-caption h4 {
        font-size: 18px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.bg-hero {
    background:#ffffff;
    background-size: cover;
}

@media (min-width: 991.98px) {
    .banner {
        position: relative;
        margin-top: -90px;
        z-index: 1;
    }
}

.bg-vegetable {
    background: #fffefe;
    background-size: contain;
}

.bg-fruit {
    background: #fffefe;
    background-size: contain;
}

.service-item {
    box-shadow: 0 0 45px #EDEDED;
    transition: .5s;
}

.about i,
.service-item i {
    background-image: linear-gradient(var(--primary), var(--secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

.service-item:hover {
    color: var(--light);
    background:#0c38c7 !important;
}

.service-item:hover i {
    background-image: linear-gradient(var(--light), var(--secondary));
}

.service-item:hover h4 {
    transition: .5s;
}

.service-item:hover h4 {
    color: var(--light);
}

.product-item {
    padding: 0 30px 30px 30px;
}

.product-item .btn-action {
    position: absolute;
    width: 100%;
    bottom: -40px;
    left: 0;
    opacity: 0;
    transition: .5s;
}

.product-item:hover .btn-action {
    bottom: 0;
    opacity: 1;
}

.product-item h5 {
    transition: .5s;
}

.product-item:hover h5 {
    opacity: 0;
}

.product-carousel::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 55%;
    bottom: 0;
    left: 0;
    background: url(../img/bg-product-1.png) left bottom no-repeat, url(../img/bg-product-2.png) right bottom no-repeat;
    background-size: contain;
    background-color: var(--primary);
    z-index: -1;
}

.product-carousel .owl-nav {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
    position: relative;
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
    color: var(--secondary);
}

.bg-testimonial {
    background: url(../img/testimonial.jpg) top center no-repeat;
    background-size: cover;
}

.testimonial-carousel {
    background: rgba(31, 34, 31, 0.7);
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: calc(100% + 46px);
    height: 46px;
    top: calc(50% - 23px);
    left: -23px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--secondary);
}

.testimonial-carousel .owl-item img {
    width: 150px;
    height: 150px;
}

.blog-item img {
    transition: .5s;
}

.blog-item:hover img {
    transform: scale(1.2);
}

.blog-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(rgba(52, 173, 84, 0), rgb(39, 192, 80));
    z-index: 1;
}

.bg-footer {
    background: linear-gradient(rgba(8, 127, 224, 0.7), rgba(26, 74, 146, 0.7));
    background-size: contain;
}

@media (min-width: 991.98px) {
    .bg-footer {
        margin-top: 90px !important;
    }
}

/*====================================Count Donw  ===========================================*/


.clock {
    position: relative;
    font-family: monaco, consolas, "courier new", monospace;
    font-size: 1.5rem;
    line-height: 1.375;
}

.clock:before,
.clock:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: ':';
    z-index: 2;
    line-height: 1.15;
    color: #333;
}

.clock:before {
    left: 2.325em;
}

.clock:after {
    right: 2.325em;
}

.clock span {
    position: relative;
    display: inline-block;
    padding: 0 .25em;
    margin: 0 .06125em;
    z-index: 1;

    -webkit-transform: perspective(750);
    -moz-transform: perspective(750);
    -ms-transform: perspective(750);
    transform: perspective(750);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.clock span:first-child {
    margin-left: 0;
}

.clock span:last-child {
    margin-right: 0;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
    margin-right: .3em;
}

.clock span:nth-child(3),
.clock span:nth-child(5) {
    margin-left: .3em;
}

.clock span:before,
.clock span:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #eee;
    text-shadow: 0 1px 0 #fff;
    background: #0c38c7;
    border-radius: .125em;
    outline: 1px solid transparent;
    /* fix jagged edges in ff */

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: -webkit-transform .75s, opacity .75s;
    -moz-transition: -moz-transform .75s, opacity .75s;
    -ms-transition: -ms-transform .75s, opacity .75s;
    transition: transform .75s, opacity .75s;
}

.clock span:before {
    opacity: 1;
    z-index: 1;
    content: attr(data-old);

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;

    -webkit-transform: translate3d(0, 0, 0) rotateX(0);
    -moz-transform: translate3d(0, 0, 0) rotateX(0);
    -ms-transform: translate3d(0, 0, 0) rotateX(0);
    transform: translate3d(0, 0, 0) rotateX(0);
}

.clock span:after {
    opacity: 0;
    z-index: 2;
    content: attr(data-now);

    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;

    -webkit-transform: translate3d(0, -102.5%, 0) rotateX(90deg);
    -moz-transform: translate3d(0, -102.5%, 0) rotateX(90deg);
    -ms-transform: translate3d(0, -102.5%, 0) rotateX(90deg);
    transform: translate3d(0, -102.5%, 0) rotateX(90deg);
}

.clock .flip:before {
    opacity: 0;
    -webkit-transform: translate3d(0, 102.5%, 0) rotateX(-90deg);
    -moz-transform: translate3d(0, 102.5%, 0) rotateX(-90deg);
    -ms-transform: translate3d(0, 102.5%, 0) rotateX(-90deg);
    transform: translate3d(0, 102.5%, 0) rotateX(-90deg);
}

.clock .flip:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotateX(0);
    -moz-transform: translate3d(0, 0, 0) rotateX(0);
    -ms-transform: translate3d(0, 0, 0) rotateX(0);
    transform: translate3d(0, 0, 0) rotateX(0);
}